*{
    margin: 0;
    padding: 0;
}
body{
   
    background-color: rgb(249, 249, 248);
}
/*main header navbar*/
.header{
    height: 20px;
    text-transform: capitalize;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 9px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    z-index: 100;
}

.navbar .option{
    display: flex;
    gap: 40px;
}
h1{
    color: white;
    position: relative;
    font-weight: 500;
}
li{
    list-style: none;
}
.option li a{
    text-decoration: none;
    color: #eee;
}
.navbar li{
    display: inline-block;
    font-size: 20px;
    color: aliceblue;
    
    margin-right: 20px;
    font-weight: 400;
}
.navbar a:hover{
    color: rgb(247, 212, 161);
}

.hide{
	position: fixed;
	top:80px;
    right: 2px;
	width: 100px;
	height: 180px;
	background-color: rgba(0,0,0, 0.5);
	border-radius: 5px;
	box-shadow: -8px 10px 10px rgba(0,0,0,0.3);
    display: none;
}
#menu{
    display: none;
    color: white;
    font-size: 25px;
    margin-right: 15px;
    position: relative;
    z-index: 200;
    cursor: pointer;
}
#menu:hover{
    color: rgb(247, 212, 161);
}
.hide a{
    text-decoration: none;
    color: #fbfafa;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 4px;
}
.hide a:hover{
           background-color: rgb(147, 88, 17);
}


span{
    
    font-size: 40px;
  color: rgb(191, 135, 68);
}

/*home section design*/
.animate-text{
    align-items: baseline;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    display: inline-block;
    border-right: 3px solid rgb(160, 98, 23);
    animation: move 3s steps(20) infinite alternate, blink 0.6s step-end infinite;
}
@keyframes move {
   form{
    width: 0;
   }
   to{
    width: 350px;
   }
}
.home{
  
    position:relative;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
   
}
.home-content{
    text-transform: capitalize;
    max-width: 600px;
}
.home-content h3{
    font-size: 30px;
    font-weight: 600;
}
.home-content p{
    font-size: 17px;
    font: weight 500px; ;
}
.home-symboll{
    position: relative;
    padding: 20px 8px;
}
.home-symboll a{
    margin-left: 15px;
    font-size: 25px;
    color:white ;
    background-color:rgb(127, 127, 91);
}
.home-symboll a:hover{
    font-weight: 500;
    background-color: rgb(86, 86, 52);
}
.button {
    margin-left: 10px;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(235, 224, 213);
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    color: white;
    border: none;
}

.button:hover{
    border: 3px solid black;
}
/*about secion design*/
.about{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   align-items: center;
   gap: 1.5rem;
}
.about-content h2{
    font-size: 50px;
    
}
.about-content p{
    
    padding-top:8px ;
    font-size: 20px;

}
.about-content a{
   
    padding: 3px 4px;
    text-decoration: none;
    color: black;
}
.about-content h3{
    line-height: 55px;
    font-weight: 600;
    font-size: 35px;
}
/*skills section design*/
.skills{
    margin-top: 120px;
    display: flex;
}
.heading{
    position: relative;
    margin-left: 300px ;
    margin-right: 50px;
    margin-top: 150px;
    border: 10px solid rgb(73, 43, 7);
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: beige;
    border-top: 2px solid beige; 
    box-shadow: -8px 10px 10px rgba(0,0,0,0.5);
}
.info{
    display: flex;
  
}
.number{
    font-size: 25px;
    font-weight: 400 ;
    position: relative;
   padding-left: 600px;
}
h2{
    font-size: 50px;
    font-weight: 600;
    padding-top: 150px;
    padding-bottom: 12px;
    text-align: center;
}
.tech-skill{
 
    position: relative;
    left: 120px;
    top: 30px;
}
.bar{
    font-size: 35px;
    padding-top: 45px;
    padding-bottom: 3px;
}
.name{
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 3px;
}
.progressline{
    height: 10px;
    width: 80%;
    border-radius: 10px;
    background: #eee;
     overflow: hidden;
}
.progressline div{
    height: 100%;
    width: 0;
    border-radius:10px ;
     background: rgb(222, 138, 12);
}
.progresshtml{
    animation: animate 2s ease-in-out 2s infinite forwards;
}
@keyframes animate {
    to{
        width: 90%;
    }
}
.progresscss{
    animation: ancss 2s ease-in-out 2s infinite forwards;
}
@keyframes ancss {
    to{
        width: 80%;
    }
}
.progressjs{
    animation: anjs 2s ease-in-out 2s infinite forwards;
}
@keyframes anjs {
    to{
        width: 80%;
    }
}
.progressreact{
    animation: anreact 2s ease-in-out 2s infinite forwards;
}
@keyframes anreact {
    to{
        width: 10%;
    }
}

/*project section design*/
    .project{
   
        margin-top: 250px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 5px;
    }
    .project1{
        margin-top: 80px;
        padding-left: 2px;
        margin-left: 80px;
        height: 280px;
        width: 280px;
        border: 1px solid rgb(122, 63, 5);
        border-radius: 7px;
        transition: transform 0.4s ease;
    }
    .project1:hover{
        box-shadow: -8px 10px 10px rgba(0,0,0, 0.5);
        transform: scale(1.06);
      
    }
    .pro{
        height: 160px;
        width: 240px;
        border-bottom: 0.5px solid rgb(255, 210, 155);
    }
    #amazon{
        background-image: url("amazon-clone.jpg");
        background-size: cover;
    }
     #todo{
        background-image: url("istockphoto-1746104990-612x612.jpg");
        background-size: cover;
    }
    #stopwatch{
        background-image: url("Gridfiti_Blog_AestheticOnlineStopwatch_Toggl.jpg");
        background-size: cover;
    }
    #portfolio{
         background-image: url("desktop.avif");
        background-size: cover;
    }
    h4{
        padding-top: 2px;
        font-size: 20px;
    }
    p{
        color: rgb(50, 45, 45);
        font-size: 15px;
        padding-top: 5px;
        padding-left: 2px;
    }
    .project1 a {
        text-decoration: none;
        color: rgb(7, 179, 7);
        font-size: 20px;
        padding-top: 4px;
    }
    .project1 a:hover{
        font-weight: 700;
    }
/*contact section design*/
.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    align-items: center;
    margin-top: 280px;
    padding-left: 30px;
   
}
.contact h3{
    font-size:50px;
    text-align: center;
}
.contact p{
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.contact b{
    font-size: 20px;
}
.contact-list li{
    display: block;
    margin-bottom: 10px;
}
.contact-list i{
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
}
.contact-form form{
    position: relative;
}
.contact-form form input,form textarea{
    border: none;
    width: 100%;
    margin-bottom: 10px;
    background-color: rgb(224, 215, 205);
    color: black;
    font-size: 15px;
    font-weight: 600;
    border-radius:5px;
    padding: 10px;
}
button{
    width: 700px;
    margin-left: 10px;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(238, 231, 223);
    border-radius: 5px;
}
button:hover{
    border: 3px solid black;
    background-color: rgb(238, 157, 58);
    color: #fff;
}
footer {
    width: 1855px;
    text-align: center;
    background-color: #514d4d;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
   letter-spacing: 0.5px;
    height: 30px;
    padding-bottom: 5px ;
}

footer{
    margin-top: 20px;
}
#year{
    font-size: 14px;
}

@media only screen and (max-width:768px) {
    .navbar .option{
        display: none;
    }
   #menu{
    display: block !important;
   }
}

